@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');
a{
    font-size: 100px;
}
div{
    background-color: red;
    text-align: center;
    height: 50px;
    width:2000px;
    color:white;
    font-size: 40px;
    font-family: 'Lemon', serif;
}